header {
  width: 100%;
  height: 58px;
  padding: 17px 0 3px;
  border-bottom: solid 1px #000000;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
}

.header_title {
  font-size: 18px;
  font-family: Avneir;
  font-weight: 400;
  line-height: 1.8;
}
.header_title a {
  color: #000000;
}

.header_loginBtn {
  background-color: #F8BD1C;
  height: 18px;
  border-radius: 8px;
  font-size: 12px;
  padding: 12px 16px;
  color: #fff;
}

.account {
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  font-weight: normal;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 8px 16px;
  display: block;
  color: #000000;
}

.dropdown-content a:hover {
  background-color: white;
}

.header_wrap_right:hover .dropdown-content {
  display: block;
}

.sign_title {
  padding: 32px 0;
}

.text {
  font-size: 18px;
  padding: 0px;
}

#user_email {
  width: 100%;
  height: 40px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 33px;
}

#user_password {
  width: 100%;
  height: 40px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 16px;
}

#user_password_confirmation {
  width: 100%;
  height: 40px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
}

input[type=submit] {
  width: 100%;
  background: #F8BD1C;
  border-radius: 4px;
  border: #F8BD1C;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.flash {
  position: fixed;
  top: 16px;
  font-size: 12px;
  right: 16px;
  width: 160px;
  background: white;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  z-index: 1;
  padding: 16px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.sign_title {
  padding: 32px 0;
}

.sign_title {
  padding: 32px 0;
}

.boards_card {
  background: #F4F4F4;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 32px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.boards_card_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 17px 0;
}
.boards_card_desc {
  margin: 0 17px 0;
  width: 100%;
  max-width: 17em;
}
.boards_card_icon {
  display: block;
  margin: 29px 17px 0;
  width: 30px;
  height: 30px;
}

.add_boards {
  margin-top: 26px;
  color: #000;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 68px 0;
  border-radius: 10px;
  border: dashed 1px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.add_boards a {
  color: #000;
  text-align: center;
  font-size: 18px;
}

.board_name {
  display: block;
  font-size: 18px;
}

.board_text {
  display: block;
  width: 100%;
  height: 40px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 33px;
}

.board_desc {
  display: block;
  font-size: 18px;
  color: #000;
}

.board_text_area {
  display: block;
  width: 100%;
  height: 200px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boards_title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 22px;
  color: #000;
}

.login_text {
  margin: 12px 0;
  display: block;
  text-align: center;
  padding: 32px 0;
  background-color: #F8BD1C;
  height: 18px;
  border-radius: 8px;
}
.login_text a {
  font-size: 18px;
  color: #fff;
}

.sign_up_text {
  margin: 12px 0;
  display: block;
  text-align: center;
  padding: 32px 0;
  background-color: #15b600;
  height: 18px;
  border-radius: 8px;
}
.sign_up_text a {
  font-size: 18px;
  color: #fff;
}

.sign_title {
  padding: 32px 0;
}

.tasks_card {
  background: #F4F4F4;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 32px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.tasks_card_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 17px 0;
}
.tasks_card_desc {
  margin: 0 17px 0;
  width: 100%;
  max-width: 17em;
}
.tasks_card_icon {
  display: block;
  margin: 29px 17px 0;
  width: 30px;
  height: 30px;
}

.add_tasks {
  margin-top: 26px;
  color: #000;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 68px 0;
  border-radius: 10px;
  border: dashed 1px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.add_tasks a {
  color: #000;
  text-align: center;
  font-size: 18px;
}

.task_name {
  display: block;
  font-size: 18px;
}

.eyecatch {
  font-size: 18px;
}
.eyecatch_field {
  margin: 5px 0 20px;
}

.task_text {
  display: block;
  width: 100%;
  height: 40px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 33px;
}

.task_desc {
  display: block;
  font-size: 18px;
  color: #000;
}

.task_text_area {
  display: block;
  width: 100%;
  height: 200px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tasks_title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 22px;
  color: #000;
}

.date {
  display: block;
}
.date_due {
  display: block;
}

.tasks_due {
  display: block;
  width: 100%;
  margin: 0 17px;
}

.tasks_due_title {
  display: block;
  width: 100%;
  margin: 15px 17px 0;
  font-weight: bold;
  font-size: 24px;
}

.task_img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  background: lightgray 50%/cover no-repeat;
  margin: auto;
  margin-bottom: 20px;
}
.task_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
}

.show_task_desc {
  margin: 35px 0;
  padding: 20px 15px;
  border-radius: 10px;
  background: #F4F4F4;
}

.comment_title {
  font-size: 26px;
  font-weight: 400;
  line-height: nomal;
  color: #000;
}

.card_img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: lightgray 50%/cover no-repeat;
  margin: auto;
}
.card_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
}

.card_wrap {
  display: flex;
  justify-content: space-between;
}

.card_dropbtn {
  display: block;
  padding: 46px 0;
}

.add_comment {
  margin-top: 26px;
  color: #000;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 20px 0;
  border-radius: 10px;
  border: dashed 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: center;
  font-size: 14px;
}

body {
  font-family: Avenir;
  font-size: 18px;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
  color: #707070;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 767px;
  height: 100%;
  min-height: 750px;
  margin: auto;
  position: relative;
}