.sign_title {
  padding: 32px 0;
}

.boards_card {
  background: #F4F4F4;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 32px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.boards_card_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 17px 0;
}
.boards_card_desc {
  margin: 0 17px 0;
  width: 100%;
  max-width: 17em;
}
.boards_card_icon {
  display: block;
  margin: 29px 17px 0;
  width: 30px;
  height: 30px;
}

.add_boards {
  margin-top: 26px;
  color: #000;
  width: 100%;
  max-width: 362px;
  height: auto;
  padding: 68px 0;
  border-radius: 10px;
  border: dashed 1px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.add_boards a {
  color: #000;
  text-align: center;
  font-size: 18px;
}

.board_name {
  display: block;
  font-size: 18px;
}

.board_text {
  display: block;
  width: 100%;
  height: 40px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 33px;
}

.board_desc {
  display: block;
  font-size: 18px;
  color: #000;
}

.board_text_area {
  display: block;
  width: 100%;
  height: 200px;
  border: #f4f4f4;
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boards_title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 22px;
  color: #000;
}

.login_text {
  margin: 12px 0;
  display: block;
  text-align: center;
  padding: 32px 0;
  background-color: #F8BD1C;
  height: 18px;
  border-radius: 8px;
}
.login_text a {
  font-size: 18px;
  color: #fff;
}

.sign_up_text {
  margin: 12px 0;
  display: block;
  text-align: center;
  padding: 32px 0;
  background-color: #15b600;
  height: 18px;
  border-radius: 8px;
}
.sign_up_text a {
  font-size: 18px;
  color: #fff;
}